In [2]:
# Import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
import os
from dotenv import load_dotenv
import os

# Load environment variables from the .env file
load_dotenv('config.env')

# Access the environment variable
api_key = os.getenv('MLFINLAB_API_KEY')
if api_key is None:
    raise ValueError("MLFINLAB_API_KEY not found in your environment variables.")
else:
    print("MLFINLAB_API_KEY is set correctly.")

MLFINLAB_API_KEY is set correctly.

In [6]:
# Import MlFinLab tools
import mlfinlab
from mlfinlab.multi_product.etf_trick import get_futures_roll_series

In [13]:
# Import data
url = "https://raw.githubusercontent.com/hudson-and-thames/example-data/main/futures_stitched.csv"
aggregated_df = pd.read_csv(url, index_col = 0, parse_dates = [0])

In [14]:
aggregated_df

             close    open    high    low  volume  ticker nearest_contract
date
2021-01-04  255.44  254.60  258.80  254.6  2146.0  G_2021           G_2021
2021-01-05  247.86  251.00  251.00  246.3  3524.0  G_2021           G_2021
2021-01-06  247.38  247.80  248.68  247.2  2614.0  G_2021           G_2021
2021-01-07  255.40  250.00  257.00  250.0  2492.0  G_2021           G_2021
2021-01-08  258.76  259.48  262.30  258.7  1998.0  G_2021           G_2021
...            ...     ...     ...    ...     ...     ...              ...
2022-09-23  824.28  850.00  866.00  820.0  2602.0  V_2022           V_2022
2022-09-26  804.00  787.00  816.00  780.0  1846.0  V_2022           V_2022
2022-09-27  831.18  810.00  922.00  808.0  3334.0  V_2022           V_2022
2022-09-28  878.06  910.00  920.00  852.0  2530.0  V_2022           V_2022
2022-09-29  812.24  853.00  858.00  808.0  2170.0  V_2022           V_2022

[450 rows x 7 columns]