### Importing Packages and API Key

In [42]:
# Import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv
from scipy import stats

# Load environment variables from the .env file
load_dotenv('config.env')

True

In [43]:
# Import MlFinLab package
import mlfinlab
from mlfinlab.data_structures.standard_data_structures import (get_dollar_bars,
                                                               get_tick_bars, get_volume_bars)

from mlfinlab.multi_product.etf_trick import get_futures_roll_series
from mlfinlab.data_structures.imbalance_data_structures import get_ema_dollar_imbalance_bars

### Importing Data and Creating Dollar, Volume and Tick Bars

In [44]:
# import ES_Trades data
#path = 'Data/ES_Trades.csv'
path = 'https://raw.githubusercontent.com/jjakimoto/finance_ml/refs/heads/master/datasets/Google.csv'
data = pd.read_csv(path)

# viewing data
data.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
1,2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2,2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
3,2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
4,2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [45]:
# getting the min, max, mean and median of the volume column. The numbers should be in a format with commas separating the thousands and no decimal points.
min_volume = f'{data["Volume"].min():,}'
max_volume = f'{data["Volume"].max():,}'
mean_volume = f'{data["Volume"].mean():,.2f}'
median_volume = f'{data["Volume"].median():,}'

print('Min Volume:', min_volume)
print('Max Volume:', max_volume)
print('Mean Volume:', mean_volume)
print('Median Volume:', median_volume)

Min Volume: 521,141.0
Max Volume: 82,151,100.0
Mean Volume: 8,404,690.76
Median Volume: 5,620,700.0

In [46]:
# Format the Data

# renaming 'Date' to 'date'
data.rename(columns={'Date': 'date'}, inplace=True)

# renaming 'Adj. Close' to 'price'
data.rename(columns={'Adj. Close': 'price'}, inplace=True)

# renaming 'Volume' to 'volume'
data.rename(columns={'Volume': 'volume'}, inplace=True)

# selecting only the 'date', 'price' and 'volume' columns as the new data to be used
new_data = data[['date', 'price', 'volume']]
print(new_data.head())
print('\n')
print('Rows:', new_data.shape[0])

         date      price      volume
0  2004-08-19  50.322842  44659000.0
1  2004-08-20  54.322689  22834300.0
2  2004-08-23  54.869377  18256100.0
3  2004-08-24  52.597363  15247300.0
4  2004-08-25  53.164113   9188600.0


Rows: 3125

### Creating Dollar Bars and Dollar Imbalance Bars

In [47]:
# 'new_data' can be simply replaced with the file path where 'raw_tick_data' was saved if memory is an issue
print('Creating Dollar Bars')
dollar = get_dollar_bars(new_data, threshold=2000000000,
                         batch_size=1000, verbose=True)

Creating Dollar Bars
Reading data in batches:
Batch number: 0
Batch number: 1
Batch number: 2
Batch number: 3
Returning bars

In [48]:
# creating dollar imbalance bars
print('Creating Dollar Imbalance Bars')
dollar_imbalance = get_ema_dollar_imbalance_bars(new_data, num_prev_bars=3, expected_imbalance_window=10, exp_num_ticks_init=10, exp_num_ticks_constraints=[1, 10],
                                                 batch_size=1000, verbose=True, to_csv=False, analyse_thresholds=False, output_path=None)

Creating Dollar Imbalance Bars
Reading data in batches:
Batch number: 0
Batch number: 1
Batch number: 2
Batch number: 3
Returning bars

### Confirming Sampling

In [49]:
# Confirm the dollar sampling
dollar['value'] = dollar['close'] * dollar['volume']
dollar.head()

,tick_num,open,high,low,close,volume,cum_buy_volume,cum_ticks,cum_dollar_value,value
date_time,,,,,,,,,,
2004-08-19,1,50.322842,50.322842,50.322842,50.322842,44659000.0,0.0,1,2.247368e+09,2.247368e+09
2004-08-23,3,54.322689,54.869377,54.322689,54.869377,41090400.0,41090400.0,2,2.242121e+09,2.254605e+09
2004-08-27,7,52.597363,54.122070,52.597363,53.239345,37742400.0,16283400.0,4,2.005164e+09,2.009381e+09
2004-09-03,12,51.162935,51.343492,50.159839,50.159839,39523700.0,20036400.0,5,2.006010e+09,1.982502e+09
2004-09-14,18,50.947269,55.917612,50.947269,55.917612,42266600.0,42266600.0,6,2.250130e+09,2.363447e+09

In [50]:
# Confirm the dollar imbalance sampling
dollar_imbalance['value'] = dollar_imbalance['close'] * dollar_imbalance['volume']
dollar_imbalance

,tick_num,open,high,low,close,volume,cum_buy_volume,cum_ticks,cum_dollar_value,value
date_time,,,,,,,,,,
2004-09-01,10,50.322842,54.869377,50.280210,50.280210,1.427445e+08,6.229160e+07,10,7.472499e+09,7.177223e+09
2004-09-02,11,50.912161,50.912161,50.912161,50.912161,1.511860e+07,1.511860e+07,1,7.697206e+08,7.697206e+08
2004-09-10,16,50.159839,52.828075,50.159839,52.828075,2.874600e+07,2.359360e+07,5,1.480121e+09,1.518596e+09
2004-09-14,18,53.916435,55.917612,53.916435,55.917612,1.867300e+07,1.867300e+07,2,1.028452e+09,1.044150e+09
2004-09-16,20,56.173402,57.161452,56.173402,57.161452,1.997930e+07,1.997930e+07,2,1.131461e+09,1.142046e+09
2004-09-20,22,58.926902,59.864797,58.926902,59.864797,2.010120e+07,2.010120e+07,2,1.194470e+09,1.203354e+09
2004-09-29,29,59.102444,65.742942,59.102444,65.742942,8.698040e+07,6.356220e+07,7,5.445390e+09,5.718347e+09
2004-10-14,40,65.000651,71.219849,65.000651,71.219849,1.477905e+08,9.910950e+07,11,1.014376e+10,1.052562e+10
2004-10-22,46,72.278116,86.481962,70.462511,86.481962,1.709232e+08,1.300908e+08,6,1.350710e+10,1.478177e+10
2004-11-18,65,93.990139,98.318500,84.029391,84.029391,6.160878e+08,2.223195e+08,19,5.608877e+10,5.176948e+10
2005-02-16,126,84.962270,105.756460,82.805613,99.512185,1.315119e+09,7.537687e+08,61,1.249605e+11,1.308704e+11
2005-05-03,178,99.256395,113.445194,87.765925,113.445194,1.034489e+09,6.082195e+08,52,1.013546e+11,1.173579e+11
2005-05-24,193,114.603771,128.396347,113.359931,128.396347,3.200705e+08,2.761254e+08,15,3.845943e+10,4.109588e+10
2005-06-23,214,130.808794,147.013818,130.001302,145.303538,7.333118e+08,4.942004e+08,21,1.036160e+11,1.065528e+11
2005-09-13,270,149.085212,157.456052,137.429231,156.322553,9.700330e+08,5.746525e+08,56,1.439161e+11,1.516380e+11
2005-10-14,293,151.969114,159.833390,148.528493,148.528493,4.085488e+08,1.446664e+08,23,6.314689e+10,6.068114e+10
2005-11-01,305,152.972211,190.277368,152.069424,190.277368,2.505759e+08,1.846377e+08,12,4.301805e+10,4.767892e+10
2005-12-16,337,190.427832,215.740972,190.162012,215.740972,6.200840e+08,3.837071e+08,32,1.260711e+11,1.337775e+11
2006-01-11,353,212.957379,236.545192,208.072299,236.545192,3.428719e+08,2.250111e+08,16,7.593758e+10,8.110470e+10
2006-02-28,385,232.532806,234.278194,171.720083,181.871420,1.016373e+09,3.845992e+08,32,2.015959e+11,1.848491e+11
2006-03-31,408,182.964795,198.101520,169.051847,195.603810,6.129133e+08,3.626227e+08,23,1.114449e+11,1.198882e+11
2007-10-22,800,195.453346,326.382512,184.183557,326.382512,4.588408e+09,2.349636e+09,392,1.056497e+12,1.497576e+12
2008-02-26,886,338.931248,372.043463,232.813674,232.813674,1.210426e+09,5.163760e+08,86,3.740802e+11,2.818037e+11
2008-07-21,987,237.162097,298.371043,207.450379,235.125811,1.176156e+09,5.208083e+08,101,3.001780e+11,2.765447e+11
2008-11-07,1065,239.293677,255.864830,164.999337,166.082681,9.277159e+08,3.826996e+08,78,1.883657e+11,1.540775e+11
2008-11-18,1072,159.883545,159.883545,145.950535,149.170475,1.337049e+08,2.644290e+07,7,2.053087e+10,1.994482e+10
2009-02-06,1126,140.523783,186.214827,129.118577,186.214827,6.261283e+08,3.691050e+08,54,9.638572e+10,1.165944e+11
2009-03-05,1144,189.971424,189.971424,153.293201,153.293201,2.105156e+08,6.850130e+07,18,3.607322e+10,3.227061e+10
2009-04-16,1173,154.762738,194.971859,145.895365,194.971859,2.669221e+08,1.760062e+08,29,4.596378e+10,5.204230e+10
2009-05-28,1202,196.727278,205.835394,190.237244,205.835394,1.916832e+08,1.289791e+08,29,3.791316e+10,3.945519e+10
2009-06-04,1207,209.260969,220.821655,209.260969,220.821655,3.149850e+07,3.149850e+07,5,6.786919e+09,6.955551e+09
2009-07-02,1227,222.847910,222.847910,203.468086,204.877437,1.242197e+08,3.336410e+07,20,2.625497e+10,2.544981e+10
2009-07-13,1233,205.439171,212.806915,198.929075,212.806915,3.838330e+07,3.187130e+07,6,7.894651e+09,8.168232e+09
2009-09-17,1280,213.002518,246.621296,213.002518,246.621296,2.517325e+08,1.424889e+08,47,5.715896e+10,6.208260e+10
2009-12-01,1332,246.490894,295.848255,243.040242,295.848255,2.861186e+08,1.640791e+08,52,7.702117e+10,8.464769e+10
2009-12-23,1348,294.664601,306.787022,293.410731,306.787022,6.719830e+07,4.273370e+07,16,2.001455e+10,2.061557e+10
2010-01-12,1360,310.197550,314.345354,296.154200,296.154200,7.754400e+07,2.138370e+07,12,2.356651e+10,2.296498e+10
2010-05-21,1450,294.453951,298.571662,236.755843,236.755843,6.610231e+08,2.896063e+08,90,1.804454e+11,1.565011e+11
2010-10-18,1553,239.318754,309.811358,218.710137,309.811358,6.232795e+08,3.438009e+08,103,1.554243e+11,1.930991e+11
2011-11-15,1826,304.856061,320.805295,238.175224,309.234578,1.638975e+09,8.533729e+08,273,4.660626e+11,5.068278e+11
2011-11-23,1832,306.681697,306.681697,285.937662,285.937662,3.420920e+07,0.000000e+00,6,1.013550e+10,9.781699e+09
2011-12-27,1854,282.371654,321.116255,282.371654,321.116255,1.182459e+08,7.604840e+07,22,3.664182e+10,3.797068e+10
2012-01-19,1869,320.840404,335.174652,312.193712,320.775202,9.146410e+07,5.903100e+07,15,2.932845e+10,2.933942e+10
2012-01-25,1873,293.902248,293.902248,285.626702,285.626702,4.402110e+07,0.000000e+00,4,1.283833e+10,1.257360e+10
2012-06-14,1971,284.929550,328.895268,280.390539,280.390539,4.931855e+08,2.226574e+08,98,1.505946e+11,1.382845e+11
2012-07-20,1996,283.128992,306.355691,281.218093,306.355691,1.155431e+08,7.714780e+07,25,3.365410e+10,3.539729e+10
2012-09-18,2037,308.707952,360.252064,304.725659,360.252064,1.789140e+08,1.099349e+08,41,5.982162e+10,6.445414e+10
2012-09-21,2040,364.876338,368.131386,364.876338,368.131386,2.470470e+07,2.470470e+07,3,9.057314e+09,9.094575e+09
2013-07-11,2239,375.850214,461.544744,324.591984,461.544744,9.782800e+08,5.103329e+08,199,3.809623e+11,4.515200e+11
2013-07-29,2251,462.929018,463.776634,442.500958,442.500958,6.535330e+07,1.484870e+07,12,2.963677e+10,2.891890e+10
2014-01-08,2364,446.839350,572.381888,424.761197,572.381888,3.914354e+08,2.131159e+08,113,1.902353e+11,2.240505e+11
2014-01-27,2376,566.869873,584.313720,552.319959,552.319959,5.836380e+07,1.542000e+07,12,3.327721e+10,3.223549e+10
2014-02-13,2389,563.243679,601.807723,555.173768,601.807723,7.425110e+07,5.303510e+07,13,4.301114e+10,4.468489e+10
2014-03-27,2418,603.262213,611.974105,558.865163,558.865163,1.160545e+08,4.678100e+07,29,6.929554e+10,6.485882e+10
2015-03-02,2651,561.809251,605.400000,497.060000,575.020000,4.967598e+08,2.642309e+08,233,2.744384e+11,2.856468e+11
2015-07-14,2744,578.795000,584.180000,532.740000,584.180000,1.688525e+08,9.249882e+07,93,9.369864e+10,9.864026e+10
2015-07-17,2747,583.960000,699.620000,583.960000,699.620000,2.056352e+07,1.849019e+07,3,1.359581e+10,1.438665e+10

### Viewing the Dollar and Dollar Imbalance Bars

In [51]:
# linking the data to the naming convention below
continuous_dollar_relative_method = dollar
continuous_dollar_imbalance_relative_method = dollar_imbalance

# viewing the head of continuous_contract_relative_method
continuous_dollar_relative_method.head()

,tick_num,open,high,low,close,volume,cum_buy_volume,cum_ticks,cum_dollar_value,value
date_time,,,,,,,,,,
2004-08-19,1,50.322842,50.322842,50.322842,50.322842,44659000.0,0.0,1,2.247368e+09,2.247368e+09
2004-08-23,3,54.322689,54.869377,54.322689,54.869377,41090400.0,41090400.0,2,2.242121e+09,2.254605e+09
2004-08-27,7,52.597363,54.122070,52.597363,53.239345,37742400.0,16283400.0,4,2.005164e+09,2.009381e+09
2004-09-03,12,51.162935,51.343492,50.159839,50.159839,39523700.0,20036400.0,5,2.006010e+09,1.982502e+09
2004-09-14,18,50.947269,55.917612,50.947269,55.917612,42266600.0,42266600.0,6,2.250130e+09,2.363447e+09

In [52]:
# viewing the head of continuous_contract_relative_method for dollar imbalance
continuous_dollar_imbalance_relative_method.head()

,tick_num,open,high,low,close,volume,cum_buy_volume,cum_ticks,cum_dollar_value,value
date_time,,,,,,,,,,
2004-09-01,10,50.322842,54.869377,50.280210,50.280210,142744500.0,62291600.0,10,7.472499e+09,7.177223e+09
2004-09-02,11,50.912161,50.912161,50.912161,50.912161,15118600.0,15118600.0,1,7.697206e+08,7.697206e+08
2004-09-10,16,50.159839,52.828075,50.159839,52.828075,28746000.0,23593600.0,5,1.480121e+09,1.518596e+09
2004-09-14,18,53.916435,55.917612,53.916435,55.917612,18673000.0,18673000.0,2,1.028452e+09,1.044150e+09
2004-09-16,20,56.173402,57.161452,56.173402,57.161452,19979300.0,19979300.0,2,1.131461e+09,1.142046e+09

### Computing Serial correlation of the Dollar and Dollar Imbalance Bars

In [53]:
# computing the returns for the dollar bars and dollar imbalance bars using pct change
dollar_returns = continuous_dollar_relative_method['close'].pct_change().dropna()
dollar_imbalance_returns = continuous_dollar_imbalance_relative_method['close'].pct_change().dropna()

In [54]:
# computing the serial correlation for the dollar bars and dollar imbalance bars
dollar_serial_corr = dollar_returns.autocorr()
dollar_imbalance_serial_corr = dollar_imbalance_returns.autocorr()

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [55]:
# printing the serial correlation for the dollar bars and dollar imbalance bars
print('Serial Correlation for Dollar Bars:', dollar_serial_corr)
print('Serial Correlation for Dollar Imbalance Bars:', dollar_imbalance_serial_corr)

Serial Correlation for Dollar Bars: 0.023799572518800136
Serial Correlation for Dollar Imbalance Bars: -0.2563899257520614